
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="2jCHT9xoiVcIMamtUY2ZTxT6Tz4IPAUQPoh0SFdt">
    <title>TT. Markets | Account Login</title>

    <link rel="icon" href="https://ttmkts.org/storage/app/public/photos/i6KEyIIzscFVLkNd20fCnXsUesrnIemV3XQN3dt8.png" type="image/png" />
    
        <link href="https://ttmkts.org/temp/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <!-- Icons -->
        <link href="https://ttmkts.org/temp/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://ttmkts.org/temp/css/line.css">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <!-- Main Css -->
                <link href="https://ttmkts.org/temp/css/style.css" rel="stylesheet" type="text/css" />
        <link href="https://ttmkts.org/temp/css/colors/dark.css" rel="stylesheet">
    </head>

<body class="bg-soft-primary">
        <section style="height: 100vh;" class="d-flex align-items-center justify-content-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card rounded border">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-7 d-none d-md-flex align-items-center justify-content-center">
                                    <div>
                                        <h2 class="mb-0">Hi Daphne,</h2>
                                        <p class="">To keep you connected, please login with your personal info.</p>
                                        <img src="https://ttmkts.org/dash2/img/wave.gif" alt="" class="w-100">
                                    </div>
                                </div>
                                <div class="col-md-5 pt-md-4">
                                    <div>
                                        <div class="text-center">
                                            <a href="/">
                                                <img src="https://ttmkts.org/storage/app/public/photos/jTZyrUm7kPFcTgC8aPpWPWo1wFyvJD97eQzRUUf4.png"
                                                    alt="Logo" class="w-50">
                                            </a>
                                        </div>
                                                                                                                    </div>
                                    <h4 class="text-center card-title d-md-none d-block"> Log In</h4>
                                    <form method="POST" action="/login" class="mt-4">
                                        <% if (success && success.length > 0) { %>
                                            <div class="alert alert-success"><%= success %></div>
                                          <% } %>
                                        
                                          <% if (error && error.length > 0) { %>
                                            <div class="alert alert-danger"><%= error %></div>
                                          <% } %>
                                        <input type="hidden" name="_token" value="2jCHT9xoiVcIMamtUY2ZTxT6Tz4IPAUQPoh0SFdt">                                        <div class="form-group">
                                            <label>Your Email <span class="text-danger">*</span></label>
                                            <div class="position-relative">
                                                <i data-feather="mail" class="fea icon-sm icons"></i>
                                                <input type="email" class="pl-5 form-control" name="email"
                                                    value="" id="email"
                                                    placeholder="name@example.com" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Password <span class="text-danger">*</span></label>
                                            <div class="position-relative">
                                                <i data-feather="key" class="fea icon-sm icons"></i>
                                                <input type="password" class="pl-5 form-control" name="password"
                                                    id="password" placeholder="Enter Password" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex justify-content-between">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1"
                                                        name="remember">
                                                    <label class="custom-control-label" for="customCheck1">Remember
                                                        me</label>
                                                </div>
                                                <a href="https://ttmkts.org/forgot-password"
                                                    class="text-dark font-weight-bold">
                                                    <small>Forgot password ?</small>
                                                    
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block pad" type="submit">Sign in</button>
                                        </div>
                                                                                <div class="text-center form-group">
                                            <p class="mt-3 mb-0">
                                                <small class="mr-2 text-dark">Don't have an account?</small>
                                                <a href="https://ttmkts.org/register" class="text-dark font-weight-bold">Sign
                                                    Up</a>
                                            </p>
                                        </div>
                                    </form>
                                    <div class="text-center">
                                        <small class="text-dark" style="font-size: 11px">
                                            &copy; Copyright 2024 &nbsp; TT. Markets
                                            &nbsp;
                                            All Rights Reserved.
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!---->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>


            <script src="https://ttmkts.org/temp/js/jquery-3.5.1.min.js"></script>
        <script src="https://ttmkts.org/temp/js/bootstrap.bundle.min.js"></script>

        <!-- SLIDER -->
        <script src="https://ttmkts.org/temp/js/owl.carousel.min.js"></script>
        <script src="https://ttmkts.org/temp/js/owl.init.js"></script>
        <!-- Icons -->
        <script src="https://ttmkts.org/temp/js/feather.min.js"></script>
        <script src="https://ttmkts.org/temp/js/bundle.js"></script>

        <script src="https://ttmkts.org/temp/js/app.js"></script>
        <script src="https://ttmkts.org/temp/js/widget.js"></script>
        <!-- Livewire Scripts -->

<script src="/livewire/livewire.js?id=de3fca26689cb5a39af4" data-turbo-eval="false" data-turbolinks-eval="false" ></script>
<script data-turbo-eval="false" data-turbolinks-eval="false" >
    if (window.livewire) {
	    console.warn('Livewire: It looks like Livewire\'s @livewireScripts JavaScript assets have already been loaded. Make sure you aren\'t loading them twice.')
	}

    window.livewire = new Livewire();
    window.livewire.devTools(true);
    window.Livewire = window.livewire;
    window.livewire_app_url = '';
    window.livewire_token = '2jCHT9xoiVcIMamtUY2ZTxT6Tz4IPAUQPoh0SFdt';

	/* Make sure Livewire loads first. */
	if (window.Alpine) {
	    /* Defer showing the warning so it doesn't get buried under downstream errors. */
	    document.addEventListener("DOMContentLoaded", function () {
	        setTimeout(function() {
	            console.warn("Livewire: It looks like AlpineJS has already been loaded. Make sure Livewire\'s scripts are loaded before Alpine.\\n\\n Reference docs for more info: http://laravel-livewire.com/docs/alpine-js")
	        })
	    });
	}

	/* Make Alpine wait until Livewire is finished rendering to do its thing. */
    window.deferLoadingAlpine = function (callback) {
        window.addEventListener('livewire:load', function () {
            callback();
        });
    };

    let started = false;

    window.addEventListener('alpine:initializing', function () {
        if (! started) {
            window.livewire.start();

            started = true;
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        if (! started) {
            window.livewire.start();

            started = true;
        }
    });
</script>
    <script src="https://cdn.jsdelivr.net/gh/livewire/turbolinks@v0.1.4/dist/livewire-turbolinks.js"
        data-turbolinks-eval="false" data-turbo-eval="false"></script>
</body>

</html>